<% provide(:title, @user.name) %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%# gravatar_forはusersヘルパーメソッド %>
        <%= @user.name %>
      </h1>
    </section>
<!-- プロフィールページにフォロワーの統計情報を追加 -->
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
<!-- - -->
  </aside>

  <!-- マイクロポストをユーザーのshowページ (プロフィール画面) に表示 -->
  <div class="col-md-8">
<!-- フォロー/フォロー解除フォームを追加 -->
    <%= render 'follow_form' if logged_in? %>
<!-- - -->
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
